<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Welcome to FiveHammer</h1>
    <p class="lead">Providing shared banlists for FiveM since 2018!</p>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About the service</h2>
        <p class="lead">FiveHammer aims to solve all your problems with cheaters or unruly behaviours on your server, by enabling you to access and use other people's banlists! We have purposedly designed the service so that it won't be easily exploitable, in fact, <strong>you</strong> will be the one to choose whether you trust or not a certain server's bans. Below is a recap of all the beautiful features our service offers:</p>
        <ul>
          <li>Choose which servers to take the banlists from</li>
          <li>See how many people trust your server's banlist</li>
          <li>Leave reviews about a certain server's banlist, so others will be able to make the best choice!</li>
          <li>Get access to the <strong>global</strong> banlists, special banlists divided into categories (type of ban) that are all manually reviewed by our team of monkeys.</li>
        </ul>
      </div>
    </div>
  </div>
</section>